# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [8]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy.stats import trim_mean, mode, skew, gaussian_kde, pearsonr, spearmanr, beta
from statsmodels.stats.weightstats import ztest as ztest

from scipy.stats import ttest_ind, norm, t
from scipy.stats import f_oneway
from scipy.stats import sem

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [9]:
# Run this code:
salaries = pd.read_csv('../data/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [10]:
salaries.head() # Display the first 5 rows of the salaries dataset

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

# Challenge 2
This is a placeholder to make the AI corrector be able to find the correct exercise for feedback

# Challenge 3 - Constructing Confidence Intervals

We will test whether the hourly wage of all hourly workers is significantly different from $30/hr.

In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. Is $30/hr within that interval?

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [12]:
from scipy import stats

hourly = salaries[salaries['Salary or Hourly'] == 'Hourly']  #Filter only hourly workers

hourly_wages = hourly['Hourly Rate']  #Extract the hourly wages

mean_hourly = np.mean(hourly_wages) #Calculate the mean of hourly wages

sem_hourly = stats.sem(hourly_wages) #Calculate the standard error of the mean

#Calculate the 95% confidence interval for the mean:
confidence_interval = stats.t.interval(
    confidence=0.95,       #95% confidence level
    df=len(hourly_wages)-1,  #degrees of freedom
    loc=mean_hourly,    #mean
    scale=sem_hourly    #standard error
)

#Show results
print("Mean hourly wage:", round(mean_hourly, 2))
print("95% confidence interval:", confidence_interval)

# Check if $30 is within the interval
is_30_in_interval = 30 >= confidence_interval[0] and 30 <= confidence_interval[1]
print("Is $30/hr within the confidence interval?", is_30_in_interval)

Mean hourly wage: 32.79
95% confidence interval: (np.float64(32.52345834488425), np.float64(33.05365708767623))
Is $30/hr within the confidence interval? False

This is fine if we have thousands of worker data. But what if we have only 100 workers data?

Sample 100 workers and re-construct the 95% confidence interval. Is the interval wider of narrower? And why?
Do you still encapsulate the $30/hr mark in this case?

In [13]:
sample_100 = hourly.sample(n=100) #Sample 100 hourly workers randomly from the dataset

sample_wages = sample_100['Hourly Rate'] #Extract their hourly wages

sample_mean = np.mean(sample_wages) #Calculate the average (mean) hourly wage in the sample

sample_sem = stats.sem(sample_wages) #Calculate the standard error of the sample

#Calculate the 95% confidence interval for the sample mean
sample_confidence = stats.t.interval(
    confidence=0.95,     # 95% confidence level
    df=len(sample_wages) - 1,   # degrees of freedom (n - 1)
    loc=sample_mean,    # sample mean
    scale=sample_sem    # standard error
)

# Print the sample mean and the confidence interval
print("Sample mean hourly wage:", round(sample_mean, 2))
print("95% confidence interval (sample of 100):", sample_confidence)

# Check whether $30/hr is within this interval
contains_30 = 30 >= sample_confidence[0] and 30 <= sample_confidence[1]
print("Is $30/hr within the new interval?", contains_30)

Sample mean hourly wage: 31.13
95% confidence interval (sample of 100): (np.float64(28.508140054632168), np.float64(33.75985994536782))
Is $30/hr within the new interval? True

In [ ]:
Since we only used 100 workers instead of the full dataset, we have less information and more uncertainty. This is why the confidence interval is wider. 

In this case, the interval includes $30/hour, so based on this smaller sample, $30/hour is a possible average hourly wage.